@import "./index.scss";

html {
  height: 100%;
  background-image: url("./Components/2Body/Img/fond1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.App {
  margin: 0;

  height: 900px;
}

/*MENU*/
.section-menu {
  display: inline-block;
  width: 100%;
  .nav-menu {
    .list-menu {
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      li {
        font-size: 40px;
        font-family: "Bebas Neue", cursive;
        color: white;
        list-style: none;
        cursor: pointer;
      }
    }
  }
}

/*BODY*/
.body {
  .section-affichage {
    /*background: $colorMain;*/
    height: 871px;
  }
  .change-box {
    display: inline-block;
    color: #fff;
    width: 1900px;
    height: 750px;
    margin: 50px 10px;
    transition: opacity 0.5s;
  }
  .change-box.off {
    opacity: 0;
  }
}
/*HOME*/
.home-text {
  display: inline-block;
  /*background-color: red;*/
  width: 800px;
  height: 500px;
  margin: 50px 200px;
  .h-text-1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
  }
  .h-text-2 {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
  }
  .h-text-3 {
    font-family: "Roboto Mono", monospace;
    font-size: 22px;
  }
}

/*SKILL*/

.skill-section {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 520px;
  margin: 100px 200px;
  padding: 0 50px;
  border-radius: 2%;
  .skill-box {
    margin: 40px 20px;
    height: 40px;
    background-color: rgb(136, 135, 135, 0.4);
    .skill-title {
      float: left;
      font-size: 15px;
      font-family: "Oswald", sans-serif;
      width: 16%;
      height: 100%;
      padding: 0 5px;
      background-color: rgb(156, 12, 12);
      .span-title {
        position: relative;
        top: 8px;
      }
    }
    .skill-bar {
      float: right;
      width: 82.2%;
      height: 100%;
      .skill-per {
        position: relative;
        display: block;
        background-color: red;
        height: 100%;
        .tooltip {
          position: relative;
          left: 420px;
          top: 6px;
          font-size: 11px;
          color: #fff;
          border-radius: 3px;
          z-index: 1;
        }
      }
    }
  }
}
.skill-per.htmlcss {
  width: 85%;
}
.skill-per.js {
  width: 60%;
}
.skill-per.react {
  width: 70%;
}
.skill-per.node {
  width: 50%;
}
.skill-per.php {
  width: 20%;
}
.skill-per.mysql {
  width: 10%;
}

/*PORTFOLIO*/
.port-section {
  display: flex;
  margin-left: calc(100% - 1800px);
  height: 800px;
  .port-container-img {
    display: flex;
    flex-wrap: no-wrap;
    width: 1400px;
    height: 700px;
    margin: 20px 0;
    .port-box {
      margin-left: 100px;
      .port-img {
        width: 400px;
        height: 250px;
        border-radius: 20px;
      }
      .port-title {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 30px;
      }
      .port-text {
        width: 400px;
        height: 300px;
      }
      .port-content-text {
        display: inline-block;
        width: 50%;
      }
    }
  }
}

.port-box.two {
  margin-top: 400px;
}
.port-text.two {
  position: absolute;
  top: 200px;
}

/*CONTACT*/
.contact-section {
  text-align: center;
  margin-top: 100px;
  .contact-container {
    #mail-icon {
      color: red;
    }
  }
  .form {
    display: inline-block;
    width: 200px;
  }
}
