@import "./index.scss";

.App {
  margin: auto 0;
}

/*MENU*/
.header {
  background-color: yellow;

  .section-menu {
    display: inline-block;
    margin-left: 720px;
    background-color: red;
    width: 1200px;

    .nav-menu {
      background-color: blue;

      .list-menu {
        display: flex;
        justify-content: space-evenly;
        background-color: green;
        font-size: 25px;

        li {
          background-color: aqua;
        }
      }
    }
  }
}

/*BODY*/
.body {
  background-color: violet;
  height: 888px;
  margin-top: 0px;
  .section-affichage {
    float: left;
    background-color: forestgreen;
    height: 800px;
    width: 50%;
    margin-top: 50px;

    .change-box {
      background-color: red;
    }
  }
  .section-image {
    float: right;
    background-color: burlywood;
    height: 800px;
    width: 50%;
    margin-top: 50px;
  }
}
