@import "./index.scss";

.App {
  margin: 0;
  background-color: rgb(58, 56, 56);
  height: 975px;
}

/*MENU*/
.section-menu {
  display: inline-block;

  width: 100%;

  .nav-menu {
    .list-menu {
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      li {
        font-size: 40px;
        font-family: "Bebas Neue", cursive;
        color: white;
        list-style: none;
        cursor: pointer;
      }
    }
  }
}

/*BODY*/
.body {
  .section-affichage {
    background: $colorMain;
    height: 871px;
    margin-top: 20px;
  }
  .change-box {
    display: inline-block;
    color: #fff;
    width: 1900px;
    height: 750px;
    margin: 50px 10px;
    transition: opacity 0.5s;
  }
  .change-box.off {
    opacity: 0;
  }
  /*.section-image {
    float: right;
    background-color: burlywood;
    height: 800px;
    width: 50%;
    margin-top: 50px;
  }*/
}
/*HOME*/
.home-text {
  display: inline-block;
  /*background-color: red;*/
  width: 800px;
  height: 500px;
  margin: 50px 200px;
  .h-text-1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
  }
  .h-text-2 {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
    background-color: red;
  }
  .h-text-3 {
    font-family: "Roboto Mono", monospace;
    font-size: 22px;
  }
}
